
.header {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center; 
}

nav {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: rgba(213, 16, 16, 0.5);
  z-index: 2; 
  margin-left: 500px;
 
}
a.active{
  background: #ff4500;
  border-radius: 2px;
}

a:hover{
  background: #0056b3;;
  border-radius: 2px;
}
.site-text {
 position: absolute;
  font-family: 'Playfair Display', cursive;
  font-size: 90px;
 top: -70px;
 text-shadow: 7px 7px 8px rgba(10, 10, 10, 0.5);
 color: #ffffff;;
 left: 350px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

ul li {
  margin: 0 15px;
}

ul li a {
  color: blue;
  text-decoration: none;
  font-size: 18px;
}

ul li a:hover {
  text-decoration: underline;
}


